body {
    background: #A9D1D4;
    font-family: 'Inconsolata', monospace;
}

.fieldset {
    display: flex;
    border: 2px outset darkslategrey;
    width: 50%;
}

footer {
    text-align: center;
    background-color: #93B6C7;
    margin-top: 10px;
}

.header {
    text-align: center;
    background-color: #718FAD;
}

textarea {
    width: 85%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#entryLog {
    border: black double 10px;
    text-align: justify;
    width: 50%;
}

.logs {
    text-align: center;
    text-decoration: darkslategrey;
}

input[type=submit] {
    background-color: #73bacf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #397f81;
}

input[type=text] textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#topicOfDay {
    width: 45%;
    margin-top: 6px;
    float: left;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.writeHere {
    border-radius: 5px;
    padding: 20px;
}

input[type=text] select {
    width: 45%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#journalEntry {
    text-align: justify;
}

.entries {
    box-sizing: border-box;
}

h1 {
    display: inline-block;
    color: #43535F;
    font-family: 'Train One', cursive;
    font-size: 30px;
    font-weight: bolder;
}

.iconImage {
    display: inline-block;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2.5px solid #84b9ff;
}

.navigationBar {
    height: 60px;
}

button {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    /*display:inline-block;*/
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

button:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

button:active {
    position: relative;
    top: 1px;
}

input[type=text] {
    background-color: #D8E2DC;
    color: white;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #D8E2DC;
    resize: none;
}